.app-search {
  border-bottom: 1px solid #666;
  position: relative;
  .app-search--input {
    border: 1px solid #666;
    text-indent: 12px;
    max-width: 100%;
    width: calc(100% - 2rem);
    height: 32px;
    margin: 1rem;
  }
  &:before {
    content: ' ';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(-50%, -50%);
    background-image: url(../assets/svg/search-icon.svg);
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
  }
}

